[Desktop Entry]
Type=Application
Name=Lax
Icon=${SNAP}/resources/app/src/static/dock-icon.png
Exec=lax-ogra
Terminal=false
StartupWMClass=lax
Categories=Utility;
